<div class="container-geral">
  <div class="container-calculadora">
      <h2 style="color: #fff;">Calculadora de Nota Fiscal de Serviço</h2>
      <br>

      <!-- formulário para entrada de dados -->
      <form id="formulario">
          <ul>
              <li>
                  <label for="nome">Nome do Cliente:</label>
                  <input  [(ngModel)]="nomeCliente" name="nomeCliente" id="nome"  required>

              </li>
              <li>
                  <label for="valorServico">Valor do Serviço:</label>
                  <input [(ngModel)]="valorServico" name="valorServico"  id="valorServico" required>
              </li>
              <li>
                  <label for="aliquota">Alíquota de Imposto (%):</label>
                  <input [(ngModel)]="aliquota" name="aliquota"  id="aliquota" required>

              </li>
          </ul>
          <a routerLink="/notafiscal" type="button" (click)="calcularNotaFiscal()">Calcular Nota Fiscal</a>
      </form>
  </div>

</div>
