

.container-geral {
  display: flex;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #D2691E, #363636);
}

.container-calculadora {
  width: 500px;
  padding: 20px;
  background-color: #363636;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

form {

  padding: 0;

}

li {
  margin-bottom: 15px;
  list-style-type: none;

}

label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

input {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

a {
  background-color: #F4A460;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

a:hover {
  background-color: #45a049;
}

